@media (max-width: 1440px){
    .logo{
        img{
            width: 100px;
        }
    }
    .header__title{
        font-size: 130px;
        line-height: 108px;
        top: 20px;
        left: 60px;
    }
    .menu{
        padding-top: 10px;
    }
    .header__search{
        padding-bottom: 8px;
    }
    .header__date{
        font-size: 60px;
        span{
            font-size: 14px;
            padding-top: 0;
            margin-bottom: 5px;
        }
    }
    .header__arrow-down{
        left: 130px;
    }
}
@media (max-width:  1366px){
    .header__aside{
        border-right: none;
        text-align: left;
        height: 108px;
        padding-right: 25px;
        background-color: rgba(#fff, .1);
        display: flex;
        position: absolute;
    }
    .menu{
        padding-top: 0;
    }
    .menu__list{
        li{
            display: inline-block;
        }
        a{
            padding: 15px;
        }
    }
    .header__search{
        padding: 25px 15px 15px; 
    }
    .header__date{
        padding: 15px;
    }
    .header__location{
        margin-top: 40px;    
    }
    .slider-item__info-title{
        font-size: 65px;
    }
    .header__arrow-down{
        left: 20px;
        bottom: 20px;
    }
}
@media (max-width: 1340px){
    .header__map{
        svg{
            width: 500px;
            height: 250px;
        }
    }
    .slider-arrows{
        top: 20px;
        right: 20px;
    }
    .slider-arrows__left{
        right: 60px;
    }
}
@media (max-width: 1040px){
    .header__arrow-down{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .menu{
        background-color: #191919;
        position: absolute;
        z-index: 22;
        text-align: center;
        width: 100px;
        left: 0;
        transition:all .4s;
        transform: translateY(-100%);
        &.active{
            transform: translateY(0);
        }
    }
    .header__search{
        padding: 40px 15px 15px;
    }
    .slider-item__info {
        right: 20px;
        bottom: 17px;
    }
    .slider-item__info-text {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .headline-left {
        font-size: 16px;
        line-height: 20px;
    }
    .slider-item__info-subtext {
        margin-bottom: 5px;
    }
    .headline-left {
        padding-left: 65px;
        &::before{
            width: 50px;
        }
    }
    .slider-item__info-title {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 10px;
    }

    .slider-dotshead {
        right: 0;
        left: 10px;
        bottom: 5px;
        margin: 0 auto;
    }
    .dots-box{
        width: 125px;
        &__number{
            font-size: 18px;
        }
        &__name{
            line-height: 18px;
        }
    }
}

@media (max-width: 960px){
    .slider-dotshead{
        display: none;
    }
}
@media (max-width: 767px){
    
}
@media (max-width: 460px){
    .header__aside {
        text-align: center;
        display: block;
        padding-right: 0;
    }
    .menu{
        transform: translateY(-136%); 
        &.active{
            transform: translateY(-36%);
        }
    }
    .header__search {
        padding: 15px 0 5px;
    }
    .header__date {
        padding: 0; 
        font-size: 50px;
        line-height: 45px;
        span{
            font-size: 12px;
        }  
    }
    .header__location{
        margin-top: 10px;
    }
    .header__title{
        display: none;
    }
}