@media (max-width: 1440px){
    .logo{
        img{
            width: 100px;
        }
    }
    .header__title{
        font-size: 130px;
        line-height: 108px;
        top: 20px;
        left: 60px;
    }
    .menu{
        padding-top: 10px;
    }
    .header__search{
        padding-bottom: 8px;
    }
    .header__date{
        font-size: 60px;
        span{
            font-size: 14px;
            padding-top: 0;
            margin-bottom: 5px;
        }
    }
    .header__arrow-down{
        left: 130px;
    }

    .surf-box__inner{
        min-height: 650px;
    }
}
@media (max-width:  1366px){
    .header__aside{
        border-right: none;
        text-align: left;
        height: 108px;
        padding-right: 25px;
        background-color: rgba(#fff, .1);
        display: flex;
        position: absolute;
    }
    .menu{
        padding-top: 0;
    }
    .menu__list{
        li{
            display: inline-block;
        }
        a{
            padding: 15px;
        }
    }
    .header__search{
        padding: 25px 15px 15px; 
    }
    .header__date{
        padding: 15px;
    }
    .header__location{
        margin-top: 40px;    
    }
    .slider-item__info-title{
        font-size: 65px;
    }
    .header__arrow-down{
        left: 20px;
        bottom: 20px;
    }
}
@media (max-width: 1340px){
    .header__map{
        svg{
            width: 500px;
            height: 250px;
        }
    }
    .slider-arrows{
        top: 20px;
        right: 20px;
    }
    .slider-arrows__left{
        right: 60px;
    }
    .surf{
        background-image: none;
    }
}
@media (max-width: 1287){
    .slider-map .slick-list{
        overflow: hidden;
    }
    .slider-dots__circle{
        box-shadow: none;
    }
}
@media (max-width: 1250px){
    .slider-map{
        max-width: 1000px;
        min-height: 515px;
    }
    .slider-map .slick-list {
        min-height: 515px;
    }

    .slider-dots_1{
        top: 266px;
    }
    .slider-dots_2{
        top: 210px;
    }
    .slider-dots_3{
        top: 268px;
    }
    .slider-dots_4{
        top: 401px;
    }
    .slider-dots_5{
        top: 202px;
    }
    .slider-dots_6{
        top: 455px;
        left: -90px;
    }
    .slider-dots_7{
        top: 325px;
        left: -70px;
    }
    .slider-dots_8{
        top: 440px;
    }
}
@media (max-width: 1102px){
   .slider-map{
       background-image: none;
       max-width: 100%;
       min-height: 280px;
    }
    .slider-dots__circle{
        display: none;
    }
    .slider-dots__content{
        display: block;
        &::before{
            display: none;
        }
    }
    .slider-dots{
        position: static;
    }
    .slider-dots__content{
        display: block;
        background-color: rgba($color: #0F1010, $alpha: 0.7);
        width: 285px;
        height: 216px;
        padding: 28px 31px 0 32px;
        &-row{
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
        }
    }
    .slider-map{
        .slick-list{
            overflow: hidden;
            min-height: 280px;
        }
        .slick-track{
            min-height: 280px;
        }
    }
    .slider-dots__content,
    .slider-dots_8 .slider-dots__content{
        transform: translateX(0);
    }
    .slider-dots__content{
        width: 285px;
        padding: 28px 31px 0px 32px;
    }

    .slider-map .slick-current .slider-dots__content{
       border: 1px solid $green; 
    }
   
}
@media (max-width: 1040px){
    .header__arrow-down{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .menu{
        background-color: #191919;
        position: absolute;
        z-index: 22;
        text-align: center;
        width: 100px;
        left: 0;
        transition:all .4s;
        transform: translateY(-100%);
        &.active{
            transform: translateY(0);
        }
    }
    .header__search{
        padding: 40px 15px 15px;
    }
    .slider-item__info {
        right: 20px;
        bottom: 17px;
    }
    .slider-item__info-text {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .headline-left {
        font-size: 16px;
        line-height: 20px;
    }
    .slider-item__info-subtext {
        margin-bottom: 5px;
    }
    .headline-left {
        padding-left: 65px;
        &::before{
            width: 50px;
        }
    }
    .slider-item__info-title {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 10px;
    }

    .slider-dotshead {
        right: 0;
        left: 10px;
        bottom: 5px;
        margin: 0 auto;
    }
    .dots-box{
        width: 125px;
        &__number{
            font-size: 18px;
        }
        &__name{
            line-height: 18px;
        }
    }
    .surf__subtitle{
        padding-right: 20px;
    }
}

@media (max-width: 960px){
    .slider-dotshead{
        display: none;
    }
}
@media (max-width: 900px){
    
}
@media (max-width: 720px){
    .title {
        span{
            font-size: 100px;
            padding-bottom: 80px;
            padding-left: 10px;
        }
    }
    .surf-slider .slider-arrows {
        top: 20px;
    }
    .surf-slider{
        padding-top: 65px;
    }
    .surf, .holder{
        padding: 60px 0 40px;
    }
}
@media (max-width: 520px){
    .headline-left {
        letter-spacing: 2.33333px;
    }
    .subtitle__head {
        font-size: 32px;
        padding-right: 0px;
    }
}
@media (max-width: 460px){
    .header__aside {
        text-align: center;
        display: block;
        padding-right: 0;
    }
    .menu{
        transform: translateY(-136%); 
        &.active{
            transform: translateY(-36%);
        }
    }
    .header__search {
        padding: 15px 0 5px;
    }
    .header__date {
        padding: 0; 
        font-size: 50px;
        line-height: 45px;
        span{
            font-size: 12px;
        }  
    }
    .header__location{
        margin-top: 10px;
    }
    .header__title{
        display: none;
    }
}

@media (max-width: 425px){
    .slider-map .slick-current .slider-dots__content,
    .slider-map .slider-dots__content {
        width: 250px;
    }
}

@media (max-width: 374px){
    .slider-map .slick-current .slider-dots__content,
    .slider-map .slider-dots__content {
        width: 200px;
    }
}